body{
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background-color: rgb(1, 1, 1);
}

.header-image{
    background-image: url("../imgs/cinema-room-background.jpg");
    display: flex;
    width: 100;
    height: 600px;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    text-align: center;
}

.Contenedor-header {
    display: flex;
    padding: 15px;
    position: absolute;
    width: 96vw;
    align-items: center;
    justify-content: center;
}
.Contenedor-header .space1{
    width: 0px;
}
.logo img{
    width: 55px;
    height: 55px;
}
.Contenedor-header .space2{
    width: 650px;
}
.menu{
    display: flex;
    list-style: none;
    justify-content:space-around;
    align-items: center;
    width: 400px;
    color: white;
    font-size: 14px;
    margin: 0;
}
.item1{
    padding: 15px;
}
.item2{
    padding: 15px;
}
.item3{
    padding: 15px;
}
.item4{
    padding: 15px;
}
.item5{
    border:1px solid white;
    padding: 15px 32px 15px 32px;
}

.page-space1{
    color: white;
    font-size: 2rem;
    padding-top: 200px;
}

.linea-separadora{
    width: 90px;
    height: 2px;
    background-color: rgb(255, 217, 54);
    margin-top:0;
    align-self: center;
}

.staff-container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.message-staff{
    padding: 100px 0px 20px 0px;
    width: 30%;
    font-size: 2.5em;
    font-family: "Forum", serif;
    text-align: center;
}

.staff-members{
    background-color: rgb(42, 42, 42);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.member{
    height: 50%;
}
.member img{
    height: 100%;
    width: 300px;
}

.blank-space-3{
    display: flex;
    width: 100%;
    height: 100px;
}

.footer-container{
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    justify-content: space-around;
}
.footer-container ul{
    display: flex;
    list-style: none;
    justify-content:space-around;
    align-items: center;
    width: 300px;
    font-size: 14px;
}

@media screen and (max-width: 480px){
    .menu{
        flex-direction: column;
    }

    .header-image{
        background-position: bottom;
        height: 400px;
    }

    .message-staff{
        width: 80%;
    }

    .staff-members{
        flex-direction: column;
    }


    .footer-container{
        flex-direction: column;
        justify-content: space-around;
    }
}